src/main/resources/org/springframework/social/instagram/config/xml/spring-social-instagram-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:instagram="http://www.springframework.org/schema/social/instagram"
           targetNamespace="http://www.springframework.org/schema/social/instagram">

    <xs:element name="config">
        <xs:complexType>
            <xs:attribute name="app-id" use="required" type="xs:string" />
            <xs:attribute name="app-secret" use="required" type="xs:string" />
            <xs:attribute name="app-scope" use="optional" type="xs:string" default="basic"/>
        </xs:complexType>
    </xs:element>

</xs:schema>